@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    overflow-x: hidden;
}

body {
    font-weight: 300;
    font-family: 'Raleway', sans-serif !important;
    overflow-x: hidden;
}


/* hero image  */

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    position: relative;
    top: 300px;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    text-align:center;
    font-family: 'raleway-bold', sans-serif !important;
}

#cover-text h2 span {
    color: #DC7000;
    font-weight: bold;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
    position: relative;
}

/* View my work button  */

.btn-outline-secondary {
    color: #DC7000 !important;
    border-color:  #DC7000 !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #DC7000 !important;;
}

/* section container  */

section .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

/* about section  */

#about {
    min-height: 300px;
}


.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-family: 'raleway-bold', sans-serif !important;
    font-size: 30pt !important;
    color: #DC7000;

    /* animation effect  */
    animation-name: slide-in-left;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

.header-bar {
    background: #DC7000;
    height: 4px;
    margin: 10px 0 30px 0;
    width: 70px;

     /* animation effect  */
     animation-name: slide-in-left;
     animation-duration: 0.75s;
     animation-timing-function: ease;
     animation-delay: 0s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: both;
     animation-play-state: running;
}


#about-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

#picture-container {
    width: 33%;
    margin: 0 auto;
    float: left;

    /* animation effect  */
    animation-name: slide-in-left;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

#circle-container {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    left: 150px;
}

#circle-picture {
    background: url("../images/morgan.jpg") no-repeat center center;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}

#about-text {
    float: right;
    width: 70%;
    overflow: hidden;

    /* animation effect  */
    animation-name: slide-in-left;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

#about-text p {
    text-align: left;
    margin: 0px;
}

#about-text span {
    color: #DC7000;
    font-family: 'raleway-bold', sans-serif;
}

/* skills section  */

#skills-container {
    height: 300px;
    width: 60%;
    position: relative;
}

#inner-container {
    height: 10%;
    width: 100%;
}

.skill-name {
    width: 10%;
    height: 25px;
    margin: 0 auto;
    background-color: rgba(220, 112, 0, 1);
    position: absolute;
    text-align: left;
    padding: 0 0 0 10px;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
    
}

/* progress bar portion */

#progress-bar-full {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4C4C4; 
    position: absolute;
    text-align: right;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

#progress-bar-full2 {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4C4C4; 
    margin-top: 35px;
    position: absolute;
    text-align: right;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

#progress-bar-full3 {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4C4C4; 
    margin-top: 70px;
    position: absolute;
    text-align: right;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

#progress-bar-full4 {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4C4C4; 
    margin-top: 105px;
    position: absolute;
    text-align: right;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

#progress-bar-full5 {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4C4C4; 
    margin-top: 140px;
    position: absolute;
    text-align: right;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

#progress-bar-full6 {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4C4C4; 
    margin-top: 175px;
    position: absolute;
    text-align: right;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

/* progress part of bar with orange transparent color  */
.progress-bar{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    background-color: rgba(220, 112, 0, 0.4) !important;
    position: absolute;
    text-align: right;
    padding: 0 10px 0 0;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

.progress-bar2{
    width: 75%;
    height: 25px;
    margin: 0 auto;
    background-color: rgba(220, 112, 0, 0.4);
    position: absolute;
    text-align: right;
    padding: 0 10px 0 0;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

.progress-bar3{
    width: 50%;
    height: 25px;
    margin: 0 auto;
    background-color: rgba(220, 112, 0, 0.4);
    position: absolute;
    text-align: right;
    padding: 0 10px 0 0;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}

.progress-bar4{
    width: 25%;
    height: 25px;
    margin: 0 auto;
    background-color: rgba(220, 112, 0, 0.4);
    position: absolute;
    text-align: right;
    padding: 0 10px 0 0;
    color: #fff;
    font-family: 'raleway-bold', sans-serif;
    font-weight: bold;
}


/* Portfolio section */

.btn-primary {
    border-color:  #DC7000 !important;
    background-color: #DC7000 !important;
}

.card-img-top {
    height: 218px;
    width: 100%;
}



/* Contact section  */

#contact {
    height: 600px;
    background-color: #f5f5f5;
    margin: 50px 0 0 0;
    clear: both;
}


.signup-form {
    color: #000;
    max-width: 400px;
    position: absolute;
    left: 40%;
    padding: 30px;
}

.signup-form h2 {
    color: #000;
    margin-bottom: 20px;
}

.text-input{
    color: #000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.text-input:hover {
    border-color: #DC7000;
}

.join-button {
    margin-top: 10px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #DC7000;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color:rgba(220, 112, 0, 0.3);
    color: #DC7000;
    display: block;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* footer  */
footer {
    background-color: black;
    height: 275px;
}


.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #fff;
}

footer .footnote {
    color: #8f9aa7;
    font-size: 10pt;
    opacity: 0.6;
    text-align: center;
    padding-bottom: 25px;
}

footer .footnote .highlight {
    color: #DC7000;
    font-family: "Raleway", sans-serif;
}

/* slide in effect  */
@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Thank you page  */
#thanks {
    height: 400px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }   

#thanks span {
    color: #DC7000;
    font-family: 'raleway-bold', sans-serif;
}

#footer-thanks {
    position: fixed;
    height: 275px;
    bottom: 0;
    width: 100%;
}

/* Media queries  */

/* For large screen sized from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .skill-name {
        width: 15%;
    }

    .signup-form {
        position: unset;
        margin: auto;
    }

    .progress-bar2 {
        width: 70%;
    }

    .progress-bar3 {
        width: 50%;
    }

    .progress-bar4 {
        width: 30%;
    }
}

/* For large screen sized from 900px wide and down */
@media screen and (max-width: 900px) {
    #about-container {
        width: inherit;
       }
    
    .card-img-top {
        height: 100%;
    }


    #skills-container {
        width: 60%;
    }

    .skill-name {
        width: 17%;
    }
    .progress-bar2 {
        width: 80%;
    }
    .progress-bar3 {
        width: 60%;
    }
    .progress-bar4 {
        width: 40%;
    }

    #footer-thanks {
        position: fixed;
        height: 150px;
        bottom: 0;
        width: 100%;
    }
}

/* For large screen sized from 540px wide and down */
@media screen and (max-width: 540px) {
    #about-container {
     flex-direction: column;
     width: inherit;
    }

    #picture-container {
        width: fit-content;
    }

    #about-text {
        width: 100%;
        padding-top: 20px;
    }

    #cover-text {
        width: 100%;
    }

    #skills {
        width: 100%;
    }

    #skills-container {
        width: 100%;
    }

    .skill-name {
        width: 75px;
    }

    .progress-bar3 {
        width: 55%;
    }

    .progress-bar4 {
        width: 40%;
    }


    .card-img-top {
        height: 100%;
    }

    .navbar-nav {
        float: right;
    }   
}