@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-weight: 300;
    font-family: 'Raleway', sans-serif !important;
}


/* hero image  */

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    position: relative;
    top: 300px;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    text-align:center;
    font-family: 'raleway-bold' sans-serif !important;
}

#cover-text h2 span {
    color: #DC7000;
    font-weight: bold;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(/assets/images/Hero-image.png) no-repeat center center;
    position: relative;
}

/* View my work button  */

.btn-outline-secondary {
    color: #DC7000 !important;
    border-color:  #DC7000 !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #DC7000 !important;;
}

/* about section  */

#about {
    height: 300px;
}


section .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-family: 'raleway-bold', sans-serif !important;
    font-size: 30pt !important;
    padding: 50px 0 0 0;
    color: #DC7000;
}

.header-bar {
    background: #DC7000;
    height: 4px;
    margin: 10px 0 30px 0;
    width: 70px;
}

header 
.waypoint 
.animated 
.slide-in-left


/* @media screen  */

@media screen and (min-width: 600px){
    .header {
    font-size: 30pt;
    }
}